REQUEST_TIMEOUT_SECONDS=20
PORT=7860
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
PHOTON_BASE_URL=https://photon.komoot.io
OSRM_BASE_URL=https://router.project-osrm.org
GEOCODER_CONTACT_EMAIL=